body{
    margin: 0px;
    background-color: burlywood;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1{
    background-color: hsl(204, 89%, 47%);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 135px 61px;
}